enable-rcon=true
enable-query=true
white-list=true
rcon.port={{ rcon_port }}
rcon.password={{ rcon_password }}
query.port={{ minecraft_query_port }}
server-ip=

server-port={{ minecraft_port }}
max-players={{ minecraft_max_players }}
motd={{ minecraft_motd }}
