node_modules/
dist/
**/dist/
*.log
.env
.env.*
.DS_Store
cdk.out/
**/cdk.out/
.venv/
**/.venv/
infra/cdk/.git/
services/shared/src/*.js
services/shared/src/*.d.ts
/.python-version
/pyproject.toml
/uv.lock
/main.py
**/.python-version
**/pyproject.toml
**/uv.lock
