{
  "agent": {
    "region": "{{ aws_region }}"
  },
  "logs": {
    "logs_collected": {
      "files": {
        "collect_list": [
          {
            "file_path": "{{ minecraft_server_dir }}/logs/latest.log",
            "log_group_name": "{{ cloudwatch_log_group_prefix }}/minecraft-server",
            "log_stream_name": "{instance_id}"
          }
        ]
      }
    }
  }
}
